<div class="infoMenu">
  <div class="mainMenu">
    <nav class="">
      <ul class="">
        <li class="menuButton1"><%= link_to "News", '#' %></li>
        <li class="menuButton2"><%= link_to "Button2", '#' %></li>  
        <li class="menuButton3"><%= link_to "Button3", '#' %></li>
        <li class="menuButton4"><%= link_to "Button4", '#' %></li>  
        <li class="menuButton5"><%= link_to "Button5", '#' %></li>
        <li class="menuButton6"><%= link_to "Button6", '#' %></li>  
      </ul>
    </nav>
  </div>
  <div style="top:0">
    <ul class="subMenu">
      <li>
        <h4>News</h4>        
        <%= link_to "News 1", '#' %>
      </li>
      <li><%= link_to "News 2", '#' %></li>
      <li><%= link_to "News 3", '#' %></li>
      <li><%= link_to "all news", '#' %></li>
    </ul>
  </div>
</div>

<div class="siteMenu">
  <ul>
    <li>     
      <h3>Статьи</h3>
      <ul>
        <li><%= link_to "ссылка1", '#' %></li>
        <li><%= link_to "ссылка2", '#' %></li>
        <li><%= link_to "ссылка3", '#' %></li>
        <li><%= link_to "ссылка4", '#' %></li>
      </ul>
    </li>
    <li>     
      <h3>Исследования</h3>
      <ul>
        <li><%= link_to "ссылка1", '#' %></li>
        <li><%= link_to "ссылка2", '#' %></li>
        <li><%= link_to "ссылка3", '#' %></li>
        <li><%= link_to "ссылка4", '#' %></li>
      </ul>
    </li>
    <li>     
      <h3>Кафедра</h3>
      <ul>
        <li><%= link_to "ссылка1", '#' %></li>
        <li><%= link_to "ссылка2", '#' %></li>
        <li><%= link_to "ссылка3", '#' %></li>
        <li><%= link_to "ссылка4", '#' %></li>
      </ul>
    </li>
    <li>     
      <h3>Публикации</h3>
      <ul>
        <li><%= link_to "ссылка1", '#' %></li>
        <li><%= link_to "ссылка2", '#' %></li>
        <li><%= link_to "ссылка3", '#' %></li>
        <li><%= link_to "ссылка4", '#' %></li>
      </ul>
    </li>
    <li>     
      <h3>Преподаватели</h3>
      <ul>
        <li><%= link_to "ссылка1", '#' %></li>
        <li><%= link_to "ссылка2", '#' %></li>
        <li><%= link_to "ссылка3", '#' %></li>
        <li><%= link_to "ссылка4", '#' %></li>
      </ul>
    </li>
    <li>     
      <h3>Абитуриенты</h3>
      <ul>
        <li><%= link_to "ссылка1", '#' %></li>
        <li><%= link_to "ссылка2", '#' %></li>
        <li><%= link_to "ссылка3", '#' %></li>
        <li><%= link_to "ссылка4", '#' %></li>
      </ul>
    </li>
  </ul>
  
</div>