$("#publication_publication_type_id").replaceWith('<select id="publication_publication_type_id" name="publication[publication_type_id]"><%PublicationType.all.each do |p_t|%><option value="<%=p_t.id%>"> <%=p_t.name%></option><%end%></select>');
$("#notification_area").replaceWith('<div id ="notification_area"><p id="notification" class="notification">Publication Type "<%= @publication_type.name%>" was seccesfully added</p></div>')
$("#publication_type_notif").replaceWith('<div id ="publication_type_notif"><img src="/media/img/added.png">"<%= @publication_type.name%>"was added!</div>')





<% if @publication_type.errors.any? %>
   $("#publication_type_notif").replaceWith('<div id ="publication_type_notif"><ul><% @publication_type.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul><%=@publication_type.errors.full_messages.count%></div>') 
<% end %>

$("#publication_type_notif").fadeOut(5000);
//$("#notification_area").css('visibility','visible');
$("#notification_area").show('slow');
$("#notification_area").css({"top": $("#publication_type_sel").offset.top,"left": $("#publication_type_sel").offset.left);
$("#notification_area").fadeOut(6000);