<table>
  <tr> 
    <td>  <%=  form.label :login%></td>
    <td>  <%=  form.text_field :login%></td>
  </tr>
  <tr>
    <td> <%=  form.label :first_name%></td>
    <td> <%=  form.text_field :first_name%></td>
  </tr>
  <tr>
    <td><%=  form.label :second_name%></td>
    <td>  <%=  form.text_field :second_name%></td>
  </tr>
  <tr>
    <td><%=  form.label :last_name%></td>
    <td><%=  form.text_field :last_name%></td>
  </tr>
  <tr>
    <td><%=  form.label :password%></td>
    <td><%=  form.password_field :password%></td>
  </tr>
  <tr>
    <td><%=  form.label :email%></td>
    <td><%=  form.password_field :email%></td>
  </tr>
    <tr>
    <td><%=  form.label :sex%></td>
    <td>M<%=  form.radio_button :sex, "1"%>F<%=  form.radio_button :sex, "0"%></td>
  </tr>

</tr>
</table>
