
<div id ="publication_form">
  <script type="text/javascript">
    function show_form(what){
      var t_off = $('#publication_'+what+'_sel').offset();
      $('#publication_'+what+'_form').offset({ left : t_off.left , top : t_off.top});
      $('#publication_'+what+'_form').fadeToggle(300);
    } 
    
    function show_type_form(){
      var t_off = $('#publication_types_sel').offset();
      $('#publication_type_form').offset({ left : t_off.left , top : t_off.top});
      $('#publication_type_form').show  ();
    } 
    
  </script>

  <%= form_for(@publication  ) do |f| %>
    <% if @publication.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

        <ul>
          <% @publication.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>

    <% end %>
    
    <%= f.text_area :article, :rows => 10, :cols => 10   %>

    <script type="text/javascript">
      $(function() {
        $('#publication_article').tinymce({
          theme: 'advanced'
        });
      });

    </script>
<p>title</p>
    <%=f.text_field :title%>
    <br>
    <div id="publication_subject_sel"
         <p>Subject list </p>
           <%Subject.all.each do |s| %>
        <div class ="check_box_subject"><%=  check_box_tag  "publication[subject_ids][]", s.id, has_subject?(s) %> <%=f.label s.name%></div>
      <%end%>
    </div>

    <div>
      <%=f.file_field :photo%>
    </div>
    <div id="publication_type_sel">
      <p>Type</p><br>
      <p onclick="show_form('type')">create new</p>
      <%=f.select :publication_type_id, PublicationType.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'}%>
      <div id ="publication_type_notif"></div>
    </div>
    <br>
    <div id="publication_cat_sel">
      <p>Category</p><br>
      <p onclick="show_form('cat')">create new</p>
      <%=f.select :publication_cat_id, PublicationCat.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'}%>
      <div id ="publication_cat_notif"></div>
    </div>
    <div id ="publication_prolog">
      <p>Prolog</p>
      <%=f.text_area :prolog, :rows=>5, :cols=>40 %>
    </div>
    <br>
    <br>
    <%=f.submit   %>
  <% end %>



</div>
<%@p_types=PublicationType.new%>
<%@p_cats=PublicationCat.new%>
<div id="publication_type_form">
  <%=render :partial=>"publication_types/form", :locals=>{:p_types=>@p_types}%>
</div>
<div id="publication_cat_form">
  <%=render :partial=>"publication_cats/form", :locals=>{:p_cats=>@p_cats}%>
</div>
<br>
<br>

