
<div id="news_div">
  <h4 style="margin-left:10px; margin-top:10px; color:#C2D7EF;">ПОСЛЕДНИЕ НОВОСТИ</h4>

  <a href="/publication/<%=@pubs[0].id%>">
    <div id="first_news_div">
      <p class="img_prolog">
        <%=image_tag @pubs[0].photo%>
        <b class="title">
          > <%=@pubs[0].title%>
        </b><br />
        <%=@pubs[0].prolog.slice(0..130)%>...
      </p>
    </div>
  </a>

  <a href="/publication/<%=@pubs[1].id%>">
    <div id="second_news_div">
      <p class="title">
        > <%=@pubs[1].title%>
      </p>
    </div>
  </a>

  <a href="/publication/<%=@pubs[2].id%>">
    <div id="third_news_div">
      <p class="title">
        > <%=@pubs[2].title%>
      </p>
    </div>
  </a>

  <a href="publications/" style="float: right; position: relative; top: 0px; right: 0px; color:#C2D7EF;"> <b>Все новости</b></a>
</div>
