<div id="title">Публикации</div>
<script type="text/javascript">
  function set_margin(id){
    var height = $('#pub_div_'+id+' .user .photo_div').height();
    $('#pub_div_'+id+' .user').css("margin-top",-height+20);
  }
</script>

<div id="publications_table">
  <% @publications.each do |publication| %>
    <div class="pub_div" id="pub_div_<%=publication.id%>">
      <%=image_tag publication.photo%>
      <div class="user">
        <%  @user = User.find(publication.user_id) %>
        <div class="photo_div"><%=image_tag @user.photo, :class => "photo", :onload=>"set_margin("+publication.id.to_s+")"%></div>
        <div class='login' ><%=@user.login%></div>
      </div>

      <div class="title"><%=publication.title%></div>
      <div class ="prolog"><%=publication.prolog%></div>
      <div> Subjects: <%publication.subjects.each do |subj|%>         
          <%=link_to subj.name, "/publications/bysubj/1"%>
        <%end%>
      </div>
    </div>


  <% end %>
</div> 
<br />

<%= link_to 'Добавить публикацю', new_publication_path %>
