<div id="title">Публикации</div>
<div id="publications_table">

  <%counter=1%>
  <% @publications.each do |publication| %>
    <%if counter==4%>
      <div style="clear: both"></div>
    <%end%>

    <%if counter==3 || counter==6%>
      <div class="pub_div" style="margin-right: 0px;" id="pub_div_<%=publication.id%>">
      <%else%>
        <div class="pub_div" id="pub_div_<%=publication.id%>">
        <%end%>

        <div class="user">
          <div style="margin-left: 5px; margin-right: 5px">
            <%if publication.created_at.to_date==Time.now.to_date %>
              Сегодня, <%= publication.created_at.strftime("%H:%M") %>
            <%elsif publication.created_at.to_date==Time.now.to_date-1%>
              Вчера, <%= publication.created_at.strftime("%H:%M") %>
            <%else%>
              <%=  publication.created_at.to_date.strftime("%d.%m.%Y")%>  
            <%end%>
            |
            <%=link_to publication.user.login, "/users/"+publication.user.login.to_s%>
          </div>
        </div>

        <%if  publication.photo?%>
          <%= link_to image_tag(publication.photo), "/publication/"+publication.id.to_s%>
        <%end%>



        <div class="title">
          <%=link_to publication.title, "/publication/"+publication.id.to_s%>
        </div>
        <div class ="prolog"><%=publication.prolog%></div>

        <div style="clear: both"></div>
        <%if publication.subjects.size!=0%>
          <div class="subjects">
            Предметы:
            <%publication.subjects.each do |s|%>
              <%=link_to s.name, "/publications/bysubj/"+s.id.to_s+"/0"%>
            <%end%>
          </div>
        <%end%>


      </div>
      <%  counter+=1 %>
    <% end %>
  </div> 
  <br />

  <%if @pages_col > 0%>
    <div class="pages_navigation">
      <%if @page ==0 %>
        <span>Назад</span>
      <%else%>
        <%=link_to "Назад", "/publications/"+(@page-1).to_s%>
      <%end%>
      <%if @pages_col<10%>

        <%for i in 0..@pages_col%>
          <%if i == @page %>
            <span><%= @page+1%></span>
          <%else%>
            <%=link_to (i+1), "/publications/"+(i).to_s%>
          <%end%>
        <%end%>

      <%else%>
        <%if @page>5%>
          <%=link_to (1), "/publications/"%>
          <span class="nav_ext">...</span>
          <%pages_count=0%>
          <%if @page >= @pages_col-4%>
            <%pages_count=@pages_col%>
          <%else%>
            <%pages_count=@page+4%>
          <%end%>
          <%for l in (@page-4)..pages_count%>
            <%if l == @page %>
              <span><%= @page+1%></span>
            <%else%>
              <%=link_to (l+1), "/publications/"+(l).to_s%>
            <%end%>
          <%end%>

          <%if (@page+4) < @pages_col%>
            <span class="nav_ext">...</span>
            <%=link_to (@pages_col+1), "/publications/"+(@pages_col).to_s%>
          <%end%>

        <%else%>

          <%for j in 0..9%>

            <%if j == @page %>
              <span><%= @page+1%></span>
            <%else%>
              <%=link_to (j+1), "/publications/"+(j).to_s%>
            <%end%>
          <%end%>

          <span class="nav_ext">...</span>
          <%=link_to (@pages_col+1), "/publications/"+(@pages_col).to_s%>
        <%end%>
      <%end%>

      <%if @page==@pages_col%>
        <span>Далее</span>
      <%else%>
        <%=link_to "Далее", "/publications/"+(@page+1).to_s%>
      <%end%>

    </div>
  <%end%>

  <div class="add_publication">
    <%= link_to 'Добавить публикацю', new_publication_path %>
  </div>
