<p id="notice"><%= notice %></p>

<%= render :inline=> @publication.article%>
<%@publication.subjects.each do |s|%>
  <%=s.name%>
<%end%>
<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
