<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag   "index", "application" %>
    <%= javascript_include_tag 'jquery', 'application','index' %>
    <%= csrf_meta_tags %>

    <%if !session[:user].nil?%>
      <script type="text/javascript" >
        
        $(document).ready(
        function(){
          event_scan();
          setInterval(function (){
            event_scan();
          }, 1000000);
          
          //$("#new_message").draggable();                     
        });
      </script>
    <%end%>

    <script type="text/javascript">
      (function(jq) {
        jq.autoScroll = function(ops) {
          ops = ops || {};
          ops.styleClass = ops.styleClass || 'scroll-to-top-button';
          var t = jq('<div class="'+ops.styleClass+'"></div>'),
          d = jq(ops.target || document);
          jq(ops.container || 'body').append(t);

          t.css({
            opacity: 0,
            position: 'absolute',
            top: 0,
            right: 0
          }).click(function() {
            jq('html,body').animate({
              scrollTop: 0
            }, ops.scrollDuration || 1000);
          });

          d.scroll(function() {
            var sv = d.scrollTop();
            if (sv < 10) {
              t.clearQueue().fadeOut(ops.hideDuration || 200);
              return;
            }

            t.css('display', '').clearQueue().animate({
              top: sv,
              opacity: 0.8
            }, ops.showDuration || 500);
          });
        };
      })(jQuery);


      $(document).ready(function(){
        $.autoScroll({
          scrollDuration: 2000, 
          showDuration: 600, 
          hideDuration: 300
        });
      });
        
    </script>

    <title>Главная - Кафедра ИКС</title>
  </head>
  <body class="body_index">
    <div id ="notification_area">
    </div>
    <div id ="popup_message">
    </div>
    <div id="header_wrapper_index">
      <div id="header_index">
        <div class="logos_index">
          <a href="/" > <%=  image_tag "logo.gif"%></a>
        </div>

        <form id="searchbox">
          <input id="search" type="text" placeholder="Поиск">
          <input id="submit_search" type="submit" value="Найти">
        </form>        
        <%=render :partial=>"users/auth"%>
      </div>	
    </div>

    <div id="wrapper_index">
      <div id="content_index">
        <div id="features_panel">

          <div id="photo_main">
            <div id="rotator">
              <ul>
                <li class="show"><a href="#"><img src="assets/pic1.jpg"   alt="pic1" /></a></li>
                <li><a href="#"><img src="assets/pic2.jpg"    alt="pic2" /></a></li>
                <li><a href="#"><img src="assets/pic3.jpg"    alt="pic3" /></a></li>
              </ul>
            </div>         				
          </div>

          <ul id="features_menu"  >
            <li style="width:157px;">
              <h2><a href="#" >Кафедра</a></h2>
            </li>	
            <li style="width:157px;">
              <h2><a onclick="index_show_menu(this,'#events_list','left');" >Новости</a></h2>
            </li>	
            <li style="width:157px;">
              <h2><a href="#" >Рассписание</a></h2>
            </li>	
            <li style="width:157px;">
              <h2><a href="#" >Чат</a></h2>
            </li>	
            <li style="width:157px;">
              <h2><a href="#" >Блоги</a></h2>
            </li>	
            <li style="width:157px;">
              <h2><a href="#" >Фотоальбом</a></h2>
            </li>	
          </ul>

          <div id="features_submenu" >
            <div id="events_list" class="slide_up">
              <script type="text/javascript">
                $.ajax({
                  type: 'GET',
                  url: 'publications/for_index',
                  dataType: "html",
                  success: function (data){
                    $("#events_list").html(data);
                  } 
                });
              </script>
            </div>


          </div>

        </div>

        <div id="site_menu">
          <ul>
            <li>     
              <h2> <a href="#" > Статьи </a></h2>
              <ul>
                <li><a href="#" > Visiting the University </a></li>
                <li><a href="#" > ссылка2 </a></li>
                <li><a href="#" > ссылка3 </a></li>
                <li><a href="#" > ссылка4 </a></li>
              </ul>
            </li>
            <li>     
              <h2> <a href="#" >Исследования</a> </h2>
              <ul>
                <li><a href="#" > ссылка1 </a></li>
                <li><a href="#" > ссылка2 </a></li>
                <li><a href="#" > ссылка3 </a></li>
                <li><a href="#" > ссылка4 </a></li>
              </ul>
            </li>
            <li>     
              <h2><a href="#" >Кафедра</a></h2>
              <ul >
                <li><a href="#" > ссылка1 </a></li>
                <li><a href="#" > ссылка2 </a></li>
                <li><a href="#" > ссылка3 </a></li>
                <li><a href="#" > ссылка4 </a></li>
              </ul>
            </li>
            <li>     
              <h2><a href="/publications" >Публикации</a></h2>
              <ul>
                <li><a href="#" > ссылка1 </a></li>
                <li><a href="#" > ссылка2 </a></li>
                <li><a href="#" > ссылка3 </a></li>
                <li><a href="#" > ссылка4 </a></li>
              </ul>
            </li>
            <li>     
              <h2><a href="#" >Преподаватели</a></h2>
              <ul>
                <li><a href="#" > ссылка1 </a></li>
                <li><a href="#" > ссылка2 </a></li>
                <li><a href="#" > ссылка3 </a></li>
                <li><a href="#" > ссылка4 </a></li>
              </ul>
            </li>
            <li>     
              <h2><a href="#" >Абитуриенты</a></h2>
              <ul>
                <li><a href="#" > ссылка1 </a></li>
                <li><a href="#" > ссылка2 </a></li>
                <li><a href="#" > ссылка3 </a></li>
                <li><a href="#" > ссылка4 </a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div id="footer_index">
        Кафедра ИКС @2011
      </div>

    </div>	
  </body>
</html>