 
<html>
  <head>
    <title>NewCS</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag 'jquery', 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%=render :partial=>"messages/form"%>
    <%=render :partial=>"users/auth"%>
    <%#=render :partial=>"messages/popup"%>
    
    <div id ="notification_area">

    </div>
    <div id ="popup_message">

    </div>
    
    <div class="container">

      <section>
        <%= yield %>
      </section>

    </div>
  </body>
</html>
