<%= form_for(@prepod ) do |f| %>
  <% if @prepod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prepod.errors.count, "error") %> prohibited this prepod from being saved:</h2>

      <ul>
        <% @prepod.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%=render :partial =>"/subs/user_form", :locals=> {:form => f} %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
