<div id="title">Преподаватели</div>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @prepods.each do |prepod| %>
    <tr>
      <td>    
        <%if prepod.photo?%>
          <%=image_tag (prepod.photo :class => "rounded", :width=>"100px", :hight=>"100px")%>
        <%else%>
          <%=image_tag("no_avatar.jpg", :class => "rounded", :width=>"100px", :hight=>"100px")%>
        <%end%>
      </td>
      <td><%= prepod.second_name %>&nbsp;<%= prepod.first_name %>&nbsp;<%= prepod.last_name %></td>    
    </tr>
  <% end %>
</table>
