<script type="text/javascript">
  $(document).ready(function() {            
    $(".signin").click(function(){
      var display = $("fieldset#signin_menu").css("display");
      if(display=="none"){
        $(".signin").addClass("menu_open");
        $("fieldset#signin_menu").slideDown("slow", function () {
          $("#user_login").focus()});
 
      } else {
        $("fieldset#signin_menu").slideUp("slow", function () {
          $(".signin").removeClass("menu_open");
        });
						
      }	
    });
			
    $("fieldset#signin_menu").mouseup(function() {
      return false
    });
			
    $(document).mouseup(function(e) {
      if($(e.target).parent("div.signin").length==0) {
        $("fieldset#signin_menu").slideUp("slow", function () {
          $(".signin").removeClass("menu_open");
        });
      }
    });			
			
  });
</script>


<%@user=User.new%>

<%  if session[:user].nil? %>

  <div id="container_singin">
    <div id="topnav" class="topnav"> <div style="float: left; color: #fff;">Имеете аккаунт? </div><div id="signin" class="signin"><span>Войти</span></div> </div>
    <fieldset id="signin_menu">
      <%= form_for(@user, :id=>"signin", :remote=>true, :method => :get , :url => { :action => "sign_in", :controller=>"users" }) do |f| %>
        <p>  
          <label for="login">Логин</label>
          <%= f.text_field :login,  :tabindex=>"1" %>
        </p>
        <p>
          <label for="password">Пароль</label>
          <%= f.password_field :password,  :tabindex=>"2" %>       
        </p>
        <p class="remember">
          <%= f.submit "Войти", :id=>"signin_submit", :class=>"button_blue",  :tabindex=>"3"%>

          <input id="remember" name="remember_me" value="1" tabindex="4" type="checkbox">
          <label for="remember">Запомнить</label>
        </p>
        <p class="forgot">
          <a href="#" id="resend_password_link">Забыли пароль?</a> 
        </p>
        <p class="forgot-username"> 
          <a href="#" id=forgot_username_link>Забыли логин?</a>
        </p>

      <% end %>
    </fieldset>
  </div>
<%else%>
  <%if session[:login_success] == "success"%>
    <script type="text/javascript">
      $("#notification_area").replaceWith('<div id ="notification_area"><p id="notification" class="notification">User "<%= session[:user].login%>  " was seccesfully signing in!</p></div>');
      $("#notification_area").addClass("notif_success");
      $("#notification_area").fadeIn(3000);
      $("#notification_area").fadeOut(2000);
    </script>
    <%session[:login_success] = ""%>
  <%end%>
  <div id="container_singin">
    <%=link_to "sign out", {:controller=>"users",:action=>"sign_out"}%>
  </div>
<%end%>