<%@user=User.new%>
<%= form_for(@user, :remote=>true, :method => :get , :url => { :action => "sign_in", :controller=>"users" }) do |f| %>

<h1>Auth user</h1>
  <div class="field">
    <%= f.label :login %>
    <%= f.text_field :login %><br />
    <%= f.label :password %>
    <%= f.password_field :password %><br />
  </div>
  <div class="actions">
    <%  if !session[:user].nil? %><%=session[:user].login%><%=session[:user].id%><%end%>
    <%= f.submit "sign_in"%>
    <%=link_to "sign out", {:controller=>"users",:action=>"sign_out"}%>
  </div>
<% end %>
