<div id="title">Удаленные пользователи</div>

<table class="table" cellspacing="0"> 
  <tbody>
    <tr>
      <th>Логин</th> 
      <th>Пароль</th> 
      <th>Имя</th> 
      <th>Фамилия</th> 
      <th>Отчество</th> 
      <th>E-mail</th> 
      <th>Пол</th> 
      <th>Роль</th> 
    </tr>
    <% class_even=0  %>
    <%@former_users.each do |former_user|%> 
      <%if class_even==1%>
        <%class_even=0%>
        <tr  class="even"> 
        <%else%>
          <%class_even=1%>
        <tr> 
        <%end%>
        <td><%= former_user.login %></td> 
        <td><%= former_user.password %></td> 
        <td><%= former_user.first_name %></td> 
        <td><%= former_user.second_name %></td> 
        <td><%= former_user.last_name %></td> 
        <td><%= former_user.email %></td> 
        <td><%= former_user.sex %></td> 
        <td><%= former_user.role %></td> 
      </tr> 
    <% end %>
  </tbody>
</table>
