<%@message = Message.new%>
<%= form_for(@message, :remote => true, :url => "/messages/create") do |f| %>
  <%=f.label :text%>
  <%=f.text_field :text%>
  <br>
  <%-f.label "User to"%>
  <%=f.select :userto_id, User.all.collect {|p| [ p.login, p.id ] }, {:include_blank => 'None'}%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
