<script type="text/javascript">
  function send_autocomplit(text){
    if (!$.isEmptyObject(text)){
      $.ajax({
        type: 'GET',
        url: '/messages/users_list/'+text,
        dataType: "html",
        success: function (data){
          $('#users_list').html(data)
        } 
      });
    }else{
      $('#users_list').html("");
    }
    
    
  }
  
</script>
<%@message = Message.new%>
<%= form_for(@message, :remote => true, :url => "/messages/create") do |f| %>
  <strong>Кому:</strong>
  <div>
    <%=f.hidden_field :userto_id, :style=>"width:90%;", :id=>"login_input"  %>
    <%=text_field_tag  "","",:style=>"width:90%;", :onkeyup=>"send_autocomplit(this.value);", :id=>"login_input_fake" %>
    <div id="users_list"></div>
  </div>
  <br/>
  <strong>Тема:</strong>
  <div>
    <%=f.text_field :subject, :style=>"width:90%;" %>
  </div>
  <br/>
  <strong>Сообщение:</strong>
  <div>
    <%=f.text_area :text, :class=>"send_msg_text"%>
  </div>
  <div class="actions">
    <%= f.submit :Отправить, :class=>"button_send_message button_blue", :style=>"margin-left: 0px;"%>
  </div>
<% end %>
