<script type="text/javascript">
  
  $(document).ready(
  function(){
    $('#login_input_fake').keyup(function (e) { 
      $('#login_input').val("");
      switch (e.keyCode) {
        // User pressed "up" arrow
        case 38:
          if($('#autocomplete_query').length){
            $prevElem= $('#autocomplete_query .selected').prev();
            if($prevElem.length>0){
              $('#autocomplete_query .selected').removeClass('selected');
              $prevElem.addClass('selected');
            }
          }
          break;

        case 40:
          // User pressed "down" arrow
          if($('#autocomplete_query').length){
            $nextElem= $('#autocomplete_query .selected').next();
            if($nextElem.length>0){
              $('#autocomplete_query .selected').removeClass('selected');
              $nextElem.addClass('selected');
            }
          }
          break;  
          
        case 13:
          // User pressed "enter" arrow
          if($('#autocomplete_query').length){
            $currElem= $('#autocomplete_query .selected')
            var array = $currElem.attr('id').split('_split_');
            var firstValue = array[0];
            var secondValue = array[1];
            $('#login_input').val(firstValue);
            $('#login_input_fake').val(secondValue);
            $('#users_list').html("");
          }
          break;    
        
        default:
          if ($('#login_input_fake').val()!=""){
            $.ajax({
              type: 'GET',
              url: '/messages/users_list/'+$('#login_input_fake').val(),
              dataType: "html",
              success: function (data){
                $('#users_list').html(data)
                var array = $('#autocomplete_query .selected').attr('id').split('_split_');
                if ($("#login_input_fake").val()== array[1]){
                  $('#login_input').val(array[0]);
                }
              } 
            });
          }else{
            $('#users_list').html("");
          }
          break;
      }
    }); 
    $('#new_message').submit(function(){
      var error="";
      if ($('#login_input').val()==""){
        error="Please specify valid user`s login<br>";
      }
      if ( $('#message_text').val()==""){
        error +="Please specify message body";
      }
      if (error!=""){
        $('#notification_area').html(error);
        $('#notification_area').addClass("notif_error");
        $("#notification_area").slideDown("slow");
        $("#notification_area").delay(2000);
        $("#notification_area").slideUp("slow");
        return false;
      }
    
    })
  });
  
  
</script>
<%@message = Message.new%>
<%= form_for(@message, :remote => true, :url => "/messages/create" ) do |f| %>
  <strong>Кому:</strong>
  <div>
    <%=f.hidden_field :userto_id, :style=>"width:90%;", :id=>"login_input"  %>
    <%=text_field_tag  "","",:style=>"width:90%;", :id=>"login_input_fake" %>
    <div id="users_list"></div>
  </div>
  <br/>
  <strong>Тема:</strong>
  <div>
    <%=f.text_field :subject, :style=>"width:90%;" %>
  </div>
  <br/>
  <strong>Сообщение:</strong>
  <div>
    <%=f.text_area :text, :class=>"send_msg_text"%>
  </div>
  <div class="actions">
    <%= f.submit :Отправить, :class=>"button_send_message button_blue", :style=>"margin-left: 0px;"%>
  </div>
<% end %>
