<script type="text/javascript">
  function send_autocomplit(text){
    alert(text);
    $.ajax({
      type: 'POST',
      url: '/messages/userslist/'+text,
      dataType: "html",
      //        error: function(request,error) 
      //        {
      //            alert ( " Can't do because: " + error );
      //        },
      success: function (data){
        alert(data);
      } 
    });
  }
  
</script>
<%@message = Message.new%>
<%= form_for(@message, :remote => true, :url => "/messages/create") do |f| %>
  <strong>Кому:</strong>
  <!--%=f.select :userto_id, User.all.collect {|p| [ p.login, p.id ] }, {:include_blank => 'None'}%-->
  <div>
    <!--%=f.text_field :userto_id, :style=>"width:90%;", :onkeyup=>"send_autocomplit(this.value);" %-->
    <%=f.text_field :userto_id, :style=>"width:90%;"%>
  </div>
  <br/>
  <strong>Тема:</strong>
  <div>
    <%=f.text_field :subject, :style=>"width:90%;" %>
  </div>
  <br/>
  <strong>Сообщение:</strong>
  <div>
    <%=f.text_area :text, :class=>"send_msg_text"%>
  </div>
  <div class="actions">
    <%= f.submit :Отправить, :class=>"button_send_message button_blue", :style=>"margin-left: 0px;"%>
  </div>
<% end %>