  
<!--div class="dialog_message">
  <p><%= User.find(@message.userfrom_id).login%></p>
  <p><%= User.find(@message.userto_id).login %></p>
  <p><%= @message.text %></p>
  <p><%= @message.created_at %></p>
</div-->

<div class="dialog_message_from rounded">
  <span class="avatar">
    <%=  image_tag "face.png" ,:class=> "rounded"%>
  </span>
  <a href="#" class="author dialog_link"><%= User.find(message.userfrom_id).login%></a>
  <%=  image_tag "checkmark_active.gif" ,:class=> "status"%>
  <span class="text">
    <%= message.text %>
  </span>
  <span class="time">
    18:37
    <!--%= message.created_at %-->
  </span>
</div>

