
<% if @message.errors.any? %>
  $("#notification_area").replaceWith('<div id ="notification_area"><ul><%@message.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul><%=@message.errors.full_messages.count%></div>');
  $("#notification_area").addClass("notif_error");
<%else%>
  $("#notification_area").replaceWith('<div id ="notification_area">Сообщение "<%= @message.text%>" пользователю <a href="/users/<%=@message.userto_id%>"><%= User.find(@message.userto_id).login%></a> успешно отправлено</div>');
  $("#notification_area").addClass("notif_success");
<% end %>
 
$("#notification_area").slideDown("slow");
$("#notification_area").delay(2000);
$("#notification_area").slideUp("slow");