
<h1>Listing documents</h1>
<%if @documents_info[:error].nil?%>
  <table>
    <tr>
      <th></th>
      <th></th>
      <th><%=link_to @documents_info[:info][:folder], @documents_info[:info][:folder]%></th>
    </tr>
    <% @documents_info[:documents].each do |document| %>
      <tr>
        <td><%= document.path  %></td>

      </tr>
    <% end %>
    <tr><td></td></tr>
    <tr>
      <td>
        <%@folder = @documents_info[:info][:folder] %>
        <%=render :partial=>"form", :locals => { :folder => @folder} %>
      </td>
    </tr>
    <tr>
      <td>
        <%=render :partial=>"folders/form", :locals => { :prev_folder => @folder}%>
      </td>
    </tr>
  </table>

  <br />
<%else%>
  <h2 class ="error"><%=@documents_info[:error] %></h2>
<%end%>